* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid #000;
    /* Make the canvas responsive and maintain a square aspect ratio */
    width: 95vmin;
    height: 95vmin;
    max-width: 100%;
    max-height: 100%;
    
}
